.carousel-window{
	position: absolute;
	width: 10vw;
	height: 10vw;
	background-size: contain;
	background-repeat: no-repeat;
	top: 10vw;
	transition: all 0.5s ease-out;
	background-position: center;
}

.carousel-window[carousel-position=dblPrev]{
	left: 0;
	opacity: 0;
}

.carousel-window[carousel-position=prev]{
	left: 12vw;
	opacity: 0.1;
}

.carousel-window[carousel-position=view]{
	left: 24vw;
}

.carousel-window[carousel-position=next]{
	left: 36vw;
	opacity: 0.1;
}

.carousel-window[carousel-position=dblNext]{
	left: 48vw;
	opacity: 0;
}